ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #33ccff;
  color: white;
  border-radius: 0px 0px 0px 0px;
}

li a:hover:not(.active) {
  background-color: #cceeff;
  color: black;
  border-radius: 0px 0px 0px 0px;
}

a#firstnavbar.active {
  background-color: #33ccff;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

a#firstnavbar:hover:not(.active) {
  background-color: #cceeff;
  color: black;
  border-radius: 10px 10px 0px 0px;
}

a#lastnavbar.active {
  background-color: #33ccff;
  color: white;
  border-radius: 0px 0px 10px 10px;
}

a#lastnavbar:hover:not(.active) {
  background-color:#cceeff;
  color: black;
  border-radius: 0px 0px 10px 10px;
}

/* BASIC */

html {
  background-image: url("https://wallpaperaccess.com/full/1236485.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}


#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

button {
  background: none!important;
  border: none;

  /*optional*/
  cursor: pointer;
}

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}